.A{
    background: pink
    ;
}
.name1{
    text-align: center;
    background:pink;
    height: 150px;
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display SC', serif;
}
